<div class="container-fluid">


    <div class="d-flex justify-content-between mb-1">
        <div class="user-card">
            <app-user-card [user]="user"></app-user-card>

        </div>
        <div class="d-flex gap-1  align-items-end">
            
            <button type="button" class="btn btn-sm btn-primary" (click)="openAdd()" data-bs-toggle="tooltip" title="Add New"><i class="bi bi-plus-circle"></i>
                Add New
            </button>

        </div>
    </div>
       
    
    <div class="flex-row table-wrapper-scroll-y my-custom-scrollbar"> 
       
        <table id="statTable" class="table table-striped table-bordered border-primary table-sm">   
            <thead class="table-light">
                <tr>
                    <th mat-sort-header="date">Date</th>
                    <th>Region</th>
                    <th style="width: 10%">Role</th>
                    <th>Encounter Count</th>
                    <th>AMP Count</th>
                    <th>AMP Time</th>
                    <th>Talix Time</th>
                    
                    <th>Training Time</th>
                    <th>Meeting Time</th>
                    <th>Special Project Time</th>
                    <th>Other Time</th>
                    <th>Comment</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr id="myList" *ngFor="let item of list; let i = index">
                    <td>{{item.StatDate | date:'shortDate' }}</td>
                    <td>{{item.Region}}</td>
                    <td>{{item.Role}}</td>
                    <td>{{item.EncounterCount}}</td>
                    <td>{{item.AmpCount}}</td>
                    <td>{{item.AmpTime}}</td>
                    <td>{{item.TalixRetro}}</td>
                    
                    <td>{{item.GoalsTrainingTime}}</td>
                    <td>{{item.MeetingTime}}</td>
                    <td>{{item.SpecialProject}}</td>
                    <td>{{item.OtherTime}}</td>
                    <td>{{item.Comment}}</td>
                    <td>
                        <div class="d-flex flex-row justify-content-evenly">
                            <a (click)="openEdit(item)" data-bs-toggle="tooltip" title="Edit"><i
                                    class="bi bi-pencil-square"></i></a>

                            <a (click)="openDelete(item)" data-bs-toggle="tooltip" title="Delete"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            
            
        </table>
        
    </div>

    <!-- Modal -->
    <div #popupModal class="modal fade" id="popupWindow" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)=onClose($event)>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header p-3">
                    <h6 class="modal-title" id="staticBackdropLabel">{{formHandler.formType|async}} Daily Stat</h6>
                    <button #closebutton type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="(formHandler.formType|async) != 'Delete' else deleteing">
                        <app-add-daily-stat (formSubmit)="onFormSubmit($event)"></app-add-daily-stat>
                    </div>
                    <ng-template #deleteing>
                        <app-delete-daily-stat (deleteSubmit)="onDeleteSubmit($event)"></app-delete-daily-stat>
                    </ng-template>
                </div>
                
            </div>
        </div>
    </div>

</div>


    